@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  font-family: 'Mulish', sans-serif;
  outline: none;
  
}
::-webkit-scrollbar-thumb{
  background: red;
}
.custom-img{
  background-image: url(../images/banner.jpg)
}